* {
   box-sizing: border-box;
}

#container {
   width: 302px;
   height:    302px;
   margin: 0 auto;
}

.box {
   width:100px;
   height: 100px;
   border: 1px solid black;
   float: left;
   text-align: center;
   font-size: 100px;
} 


 /*body {
 	background-color: #B9E9F0;
 }
 .center {
    margin-right: auto;
    margin-left: auto;
}

 h1 {
    text-align: center;
    font-family: Tahoma;
    color: #666666;
}

.button {
    margin-left:auto;
    margin-right:auto;
    text-align: center;
}

#newGame {
    font-size: 12pt;
    color: white;
    background-color: red;
    padding: 5px 15px 5px 15px;
}

 #board-outer {
    height: 350px;
    width: 350px;
    background-color:none;
    overflow: hidden;

}

#board {
    width: 354px;
    height: 354px;
    border-spacing:0;
    background-color:none;
	margin-left: -2px;
    margin-top: -2px;
}

td {
    height: 116px;
    width: 116px;
    text-align: center;
    font-family: sans-serif;
    font-size: 40pt;
    border: 2px solid white;
    text-transform: uppercase;
    color: #999999;
}

img {
    width:20px;
    height:20px;
}*/